<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phonebook</title>
</head>
<body>
    <center>
    <center> Contact list </center>
    <table border="2">
        <tr>
            <th>SN</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Other Name</th>
            <th>telephone</th>
            <th>Action</th>
        </tr>

        {% for directory in contacts %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ directory.first_name }}</td>
            <td>{{ directory.last_name }}</td>
            <td>{{ directory.other_name }}</td>
            <td>{{ directory.tel }}</td>
            <td>
            <a href="{% url 'remove' directory.id %}"
            onclick="return confirm('Do you really wanna delete ?')">Delete</a>

                -
            <a href="{% url 'amend' directory.id %}">Update</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    

    <h2><a href="{% url 'insert' %}">Click to add</a></h2>

    {% if messages %}

    {% for message in messages  %}
    <h4>{{ message }}</h4>
    {% endfor %}

    {% endif %}
</center>
    
</body>
</html>